<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <!-- Signup Form -->
                <form action="{{ url_for('signup') }}" method="POST" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <input type="submit" name="signup" value="Sign Up" class="btn solid">
                </form>
            </div>
        </div>
    </div>
    
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already have an account?</h3>
                    <p>Login to detect any emergency.</p>
                    <a href="{{ url_for('login') }}" class="btn transparent">Sign In</a>
                </div>
                <img src="{{ url_for('static', filename='login.jpg') }}" class="image" alt="">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
